@font-face {
    font-family: "Kanit-Regular";
    src: url("./fonts/Kanit-Regular.ttf") format("truetype");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kanit-Regular", sans-serif;
}

.form-ctn {
    margin: 2rem;
}

input {
    margin: 0.2rem;
    padding: 0.2rem;
    border: 1px solid #000;
    outline: none;
}

button {
    font-size: 1rem;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
}select {
    padding-right: 0.5rem;
}

P {
    font-size: 2rem;
}
